<div class="jumbotron jumbotron-fluid">
  <div class="hero-text">
    <h1>Maintenance Request Resolution Made Effortless.</h1>
    <h2 style="color: #cccccc;">Where landlords get things fixed fast and contractors know where their next job is coming from.</h2>
    <h3><%= link_to 'Get Started Today.', signup_path, class: "btn btn-default" %></h3>
    <h3><%= link_to 'Already on SamePage? Sign in.', login_path, class: "btn btn-default" %></h3>
    <!-- <h3 style="text-align: center;">With SamePage You Can...</h3> -->
  </div>
</div>
