<h1>Privacy Policy</h1>
<h2>February 24th, 2020</h2>

<p>SamePage ("Company," "we," "us," or "our") make its service, as described below, available to you in accordance with the following privacy policy which informs you of our policies regarding the collection, use and disclosure of personal information when you use our service. As referenced in this policy, "site" means the website operated by the Company and currently located at SamePageco.app, as it may be updated, relocated, or otherwise modified from time to time, and includes any and all information, text, images, and other materials and content appearing on or incorporated into that website.</p>


<p>The terms "SamePage" or "service" mean the site or any other web sites, networks, embeddable widgets, downloadable software, mobile applications including tablet computer applications (each an "App"), features, messages such as emails that we may send you, and services, whether online or offline, owned or operated by the Company.</p>


<p>Persons using the service as advertised by SamePage shall be collectively referred to as “users” or “you”.</p>


<p>SamePage is committed to ensuring that your privacy is protected. We will not use or share your information with anyone except as described in this privacy policy.</p>


<p>We use your personal information for providing and improving the service as is advertised by us to you. Refusal to provide personal information will result in a degraded service from what is advertised. Your personal information is also used to improve our service and maintain our relationship with you the user.  Unless otherwise defined in this privacy policy, terms used in this privacy policy have the same meaning as in our Terms and Conditions.</p>


<h3>Information Collection And Use</h3>

<p>While using our service, we will ask you to provide us with personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, postal address, and/or other information such as IP address and geolocation. This information is collected in order to setup an account and enable us to provide the services as advertised.</p>


<p>Examples of other information we store include, but are not limited to, demographic information such as postcode, preferences, other information related to customer surveys and/or offers, IP address.</p>


<p>We collect this personal information for the purposes of performing our services as advertised , contractual obligations and for our legitimate business of improving the services including for the following reasons:</p>

<ul>
  <li>Providing the service;</li>
  <li>Company record keeping;</li>
  <li>Payment and transaction-based fraud-prevention to protect you, your tenants, owners, service professionals you engage with and other users;</li>
  <li>Sending you promotional emails about new services, offers or other information which we think you will aligns with your interests in using the service;</li>
  <li>Communicating with you;</li>
  <li>Improving the service;</li>
</ul>


<h3>Security</h3>

<p>SamePage is committed to ensuring that your personal information is secure and in order to prevent any unauthorized access or disclosures we have engaged suitable physical, electronic and managerial procedures in accordance with industry standards to safeguard and secure the information we collect.</p>



<h3>Cookies</h3>

<p>We may use cookies, clear GIFs, pixel tags, and other technologies that help us better understand user behavior, personalize preferences, perform research and analytics, and improve the service. These technologies, for example, may allow us to tailor the service to your needs, save your password in password-protected areas, track the pages you visit, help us manage content, and compile statistics about service usage.

<p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but your browser may allow you to modify your browser settings to decline cookies if you prefer. If you disable cookies, you may be prevented from taking full advantage of the Platform, because it may not function properly. As we adopt additional technologies, we may also gather additional information through other methods.



<h3>Communications</h3>

<p>We may use your personal information for our legitimate purpose of contacting you with relevant news, articles, advertising, promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send or by contacting us. Please note opting out of some of our communications will negatively affect your use of the service as advertised.</p>



<h3>Compliance with Laws</h3>

<p>We will disclose your personal information where required to do so by law or subpoena or if we believe that such action is necessary to pursue our legitimate interest of complying with the law and the reasonable requests of law enforcement or of protecting the security or integrity of our service.</p>



<h3>Retention Period</h3>

<p>We will keep your personal information only for as long as necessary to fulfill our legitimate purposes of operating the service for which we are processing your personal information unless the law permits or requires us to retain such information longer. For example, we may require to keep your personal information to defend against future legal action.</p>



<h3>Links to other websites</h3>

<p>Our service contains links to other sites that are not operated by us such as our payment provider Stripe (stripe.com) and other financial institutions. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the privacy policy of every site you visit. We have no control over, and assume no responsibility for the content, privacy policies or practices or any third party sites or services. SamePage will provide messaging where possible that your being directed to a third party website.</p>



<h3>Business Transaction</h3>

<p>If SamePage is involved in an acquisition, merger or sale, your personal information may be transferred as a business asset. In such cases, we will provide notice before your personal information is transferred and/or becomes subject to a different privacy policy.</p>



<h3>Security</h3>

<p>The security of your personal information is of paramount importance to SamePage, and we have and will continue to implement appropriate technical and organizational measures to ensure a level of security appropriate to risk of unauthorized access, destruction, use, modification, or disclosure, taking into account the state of the art, the costs of implementation and the nature, scope, context and purposes of processing as well as the risk of varying likelihood and severity for your rights and freedoms.</p>


<p>However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of personal information we have collected from you.</p>



<h3>Information Storage Locale</h3>

<p>Your information, including personal information, may be transferred to, and maintained on, computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction. If you are in the European Union, in transferring your personal information to countries outside of the European Union, we will take appropriate steps to ensure your personal information is afforded the same level of protection as described in this privacy policy and required under applicable laws.</p>



<h3>Your rights</h3>

<p>In some regions, such as the European Union, you may have certain rights in relation to your personal information, including the right to:</p>

<ul>
  <li>Request access to and obtain a copy of your personal information;</li>
  <li>Request rectification of your personal information if it is no longer accurate or erasure of your personal information if our retention is no longer necessary for the purposes for which it was collected;</li>
  <li>Restrict or object to the processing of your personal information in certain circumstances; and</li>
  <li>Data portability (if applicable).</li>
  <li>If you wish to exercise any of your rights in relation to your personal information please send your request to us using the details set out in the “Contact Us” section below. We will consider and act upon any request in accordance with the applicable data protection laws.  </li>
</ul>



<p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>



<h3>Data correction and deletion</h3>

<p>You have the right to access your data, request changes to your data, delete and/or correct your data. You may request details of information which we hold about you however, a small fee will be payable to cover the administration work required to provide the information. If such information is requested by you we will provide all your information within 30 days from the date of contact.</p>


<p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us. We are committed to correcting any information found to be incorrect.</p>


<h3>Contact</h3>

<p>We reserve the right to update or change our privacy policy and, in this case, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>


<p>If you have any questions or requests regarding this Privacy Policy or your Personal Information, please contact us at contact@SamePageco.app</p>
