<h1>Terms and Conditions</h1>

<h2>SamePage Terms and Conditions</h2>

<h3>Last Updated: February 24, 2020</h3>

<p>SamePage (“Company,” “we,” “us,” or “our”) is pleased to make its Service, as described below, available to you on the following terms and conditions. These Terms of Service are a legal contract between the individual, company or legal entity using the Landlord Service (“the landlord”), contractors or professional trades people (each a “Pro”, “Professional” or “Contractor”), tenants of the landlord’s property (each a “tenant”), and the Company. The landlord, tenant and Professional shall be collectively referred to as “Users” or “you”.</p>

<p>As referenced in this agreement, “Site” means the website operated by the Company and currently located at www.SamePageco.app, as it may be updated, relocated, or otherwise modified from time to time, and includes any and all information, text, images, and other materials and content appearing on or incorporated into that website. The terms “SamePage” or “Service” mean the Site or any other web sites, networks, embeddable widgets, downloadable software, mobile applications including tablet computer applications (each an “App”), features, messages such as emails that we may send you, and services, whether online or offline, owned or operated by the Company.</p>

<h3>By using the Service, you:</h3>

<ul>
  <li>Acknowledge that SamePage is a property management tool and is solely a venue for communications between landlords, tenants and Professionals.</li>
  <li>Acknowledge that by accessing or using the Service, the landlords, Professionals and tenants agree that they have read, understood, and agree to be bound by the SamePage Terms of Service (the “Terms” or “Terms of Service”) as updated from time to time, which govern the use of the Service. Landlords, tenants and Professionals may use the App and the Service only as set forth in these Terms.</li>
  <li>Consent to the collection, use, sharing and transfer of your data, including, but not limited to, location data, as outlined in our privacy policy (available at HTTPS://SamePageco.app/PRIVACY) as updated from time to time, which is incorporated within these terms by reference;</li>
  <li>Acknowledge that we are not a real estate agent or broker. We don’t screen properties or listings or offer any guaranty or advice regarding the suitability of properties, landlords, or potential tenants.  </li>
</ul>


<h3>Terms Governing Service Use</h3>

<p>Your access to and use of the Service is expressly conditioned on your agreement to and compliance with these Terms. You agree that by browsing, clicking in or accessing the site that you have read these Terms and agree to be bound by them. By accepting these Terms or using the Service, you represent and warrant that you have the legal capacity to enter a contract in the jurisdiction where you reside. If you do not accept these Terms, then you may not use the Service. If you are using the Service on behalf of your employer or another entity, you represent and warrant that you have full legal authority to bind your employer or such other entity to these Terms. If you do not have such authority, then you may not use the Service on behalf of your employer or such other entity and you must discontinue all use of the Service immediately.</p>

<p>Subject to the terms and conditions of these Terms, SamePage hereby grants you a limited, non-exclusive, personal, non-sublicensable, non-assignable license to use the Site solely in accordance with these Terms and any rules, restrictions or documentation set forth by SamePage from time to time. You acknowledge and agree that SamePage may update the Service from time to time with or without notifying you, and may add or remove features or functions to the Service at any time in its sole discretion. You acknowledge and agree that SamePage has no obligation to make the Service available to you, make any subsequent versions of the Service available to you or to continue to support the Service in any way. You acknowledge that your access to the Service may not be continuous, features may change during your use of the Service, and SamePage may terminate your access to the Service or stop offering the Service at any time.</p>

<p>SamePage reserves the right to deny service to any person or entity at SamePage’s sole and absolute discretion. You acknowledge and agree that SamePage may stop providing the Service or restrict your use of the Service at any time, without notifying you in advance, for any reason or no reason, including, without limitation, for any violation of these Terms or if SamePage suspects that you have used any aspect of the Service to conduct any fraudulent or illegal activity. If SamePage disables your access to your account, you may be prevented from accessing the Service, your account details or any materials contained in your account.</p>

<h3>The SamePage Platform</h3>

<p>SamePage is a platform for connecting persons who are looking to engage referred contractors (each a “Pro”, “Professional” or “Contractor”) to perform services at request on a landlord’s property (each a “Job”). It is the sole responsibility of each Pro, and not the Company, to determine whether it is qualified and capable of completing a particular Job. When a landlord books a Job with a Pro through SamePage, the landlord and tenant should collectively ensure that they use common sense and caution to ensure protection of personal property and safety, including by supervising Pro’s as a landlord or tenant would supervise anyone who provided a service to you that you did not know.</p>

<h3>Fees</h3>

<p>You agree to pay all applicable fees and taxes incurred by you or anyone using your account. Unless otherwise noted, all currency references are in U.S. dollars. All fees and charges are payable in accordance with payment terms in effect at the time the fee or the charge becomes payable. SamePage may, from time to time, modify, amend, or supplement its pricing and billing procedures, and such changes shall be effective immediately upon posting a link to an update of these Terms or posting such changes elsewhere on the Site. If there is a dispute regarding your payment of fees, or the Service, SamePage shall have the right to terminate your account without prior notice. YOU ACKNOWLEDGE AND AGREE THAT YOU ARE FULLY LIABLE FOR ALL CHARGES TO YOUR ACCOUNT, INCLUDING ANY UNAUTHORIZED CHARGES.</p>

<p>When a Job booking is made through SamePage, quotes shall be provided through the Service directly to the landlord by the Pro. The Pro will be responsible for invoicing SamePage (and will not directly invoice the landlord or the tenant) the full amount of the payment. SamePage will make payment to the Pro upon notification of the Pro’s services being successfully completed equal to the invoice amount minus a ten percent (10%) fee which shall be retained by SamePage. The landlord shall pay the full invoice amount to SamePage. The landlord will be liable for any and all taxes relating to the Jobs performed by the Pro.</p>

<p>Users acknowledge that it is their responsibility to ensure that the communication methods that they have submitted in their SamePage account, and all contact and billing information, are kept up-to-date and accurate.</p>

<p>If a payment is rejected for nonsufficient funds, the Company will be notified within three (3) business days, and will notify the landlord and tenant of the rejection and the related non-sufficient fund fee within one (1) business day of our notification that the payment was rejected. It will be the tenant’s responsibility to initiate a new ACH transaction or to make the tenant payment in some other manner and pay the nonsufficient funds fee. It will be the landlord’s responsibility to assess a late tenant payment fee, if any, to tenant. The tenant will be required to pay the non-sufficient fund fee, and any late fees assessed by the landlord, on or before the initiation of any new ACH transaction through the service. If tenant does not pay the non-sufficient fund fee via ACH within sixty (60) days of the notification of such non-sufficient fund fee, tenant hereby authorizes the company to charge the tenant’s credit card on file for the amount of the non-sufficient fund fee. If tenant does not have a current credit card on file and fails to pay the non-sufficient fund fee within the sixty (60) day period referred to above, the landlord authorizes the Company to charge the landlords’ credit card on file for the full amount of the non-sufficient fund fee.</p>

<p>The company never takes custody of money Users transfer using the Service and we’re not responsible for what recipients do with the payments you make. For example, we’re not responsible for your landlord returning your deposit. If a payor or payor’s bank or card issuer initiates a reversal, chargeback, or dispute of a payment made to you, you authorize us and our third-party payment providers to reverse or otherwise debit funds from your account in accordance with applicable financial institution and network policies and procedures. In the event we are unable to reverse or otherwise debit funds from your account, you agree promptly to deposit such funds upon our request. We may also initiate a reversal or other debit, or take other actions we determine to be appropriate, if we believe fraud or other abuse of the Service has occurred.</p>

<p>The company is not responsible for loss incurred as a result of non-sufficient funds, returned checks, chargebacks, claims, reversals, WSUPP retrieval fee, recall fees, excessive returns fees, early funding fees, account maintenance fees, or any unforeseeable unsuccessful transaction or fees associated with those transactions. When appropriate, non-sufficient funds fees and returned checks fees will be passed on to tenants. The company reserves the right to seek reimbursement from the landlord, and the landlord will reimburse the company, if the company discovers a fraudulent transaction, erroneous or duplicate transaction, or if the company receives a chargeback or reversal from any User’s credit card company or bank for any reason.</p>

<p>You agree to and acknowledge our right to investigate any and all transactions for fraud. Further, you agree to cooperate with any reasonable requests made by the company in an effort to investigate fraud.</p>

<p>The landlord agrees that the company has the right to obtain such reimbursement by charging the landlords account, deducting amounts from future transfers, charging landlord’s credit card or any bank account associated with your account, or obtaining reimbursement from the landlord by any other lawful means, including using a third party collection agency. Failure to pay for reimbursements of a chargeback or a reversal of payment is cause for termination of a landlord’s account.</p>

<p>The company is not responsible for delays associated with postal delivery or any resulting late fees or penalties for which you may be responsible. We are also not responsible for any losses resulting from third-party fraud or other crimes committed in connection with the interception or misdelivery of mailed checks.</p>

<h3>Pricing of Services</h3>

<p>Bids that are awarded are indicative only and may differ greatly from the actual pricing depending on the Pro’s first hand assessment of the problem. While SamePage will endeavor to accurately describe the Service for the information of the landlord and the pro this information will be based on information provided by the tenant and therefore cannot be definitively relied on.</p>

<h3>SamePage Professionals</h3>

<p>By accepting referrals from SamePage, Pros represent and warrant that they, and the employees, agents, contractors, and subcontractors who may perform work for them, are properly and fully qualified and experienced, and licensed, certified, bonded, and insured, as required by applicable laws or regulations to which they may be subject in the jurisdictions in which they offer their services and in relation to the specific Job they are performing at that time.</p>

<p>Pros understand and agree that they are customers of SamePage, and are not employees, joint venturers, partners, or agents of SamePage. Pros acknowledge that they set or confirm their own prices, provide their own equipment, and determine their own work schedule. These prices are provided directly to the landlord and may only commence work once the price has been mutually agreed upon for the service.</p>

<p>Pros understand and acknowledge that failure to accept or respond to Job requests may also result in the Job being sent to other professionals based on the category of the service request. We limit the number of pros that are matched to a customer. We do not guarantee to provide you any specific number of Jobs, nor do we make guarantees, representations or warranties regarding a customer’s level of interest, their desire to have work completed, the accuracy of the information provided by the customers, or that any customers will hire you to perform services, nor do we guarantee that you will successfully contact each customer.</p>

<p>Pros agree to allow only themselves, their employees or independent contractors performing services directly on behalf of their business to contact or provide any service to landlords referred to by SamePage. To the extent Pros use any such subcontractors, the Pro shall remain liable for all acts and omissions of such subcontractors and for ensuring that such subcontractors comply with all the provisions of these Terms.</p>

<p>Each Pro represents and warrants that it will, and will ensure that its agents and employees, (a) materially comply with all applicable laws, statutes, ordinance and regulations, (b) perform its services in a manner consistent with good commercial practice, and (c) have the proper skill, training and background to perform, and will perform, in a competent and professional manner.</p>

<p>Pros further represent that they have not been sanctioned or penalized by any governmental authorities in connection with their provision of services to any of their customers, and that they have not been denied membership to (or had their membership revoked from) any professional industry associations. Pros hereby authorize SamePage to verify that all of the above representations are truthful and accurate at any time while remaining a pro for SamePage.</p>

<p>Pros agree that they will cooperate with SamePage if we attempt to facilitate any resolution of any landlord or tenant complaints regarding the service provided by the Pro. SamePage. SamePage may also take into account User reviews of Pros for future Job selection.</p>

<h3>Refund Policy</h3>

<p>No refunds are available and all sales are final. SamePage’s referral commission is not refundable..</p>

<h3>SMS Messaging</h3>

<p>When using the Service, the Company may need to send Users SMS Messages in order to confirm your phone number and/or keep you informed about your Job. Some of these messages may be necessary for the fulfilment of the Service and cannot be opted out of. Depending on your current phone carrier plan, you may incur Fees for these SMS Messages, and agree to not hold the Company liable for any such fees.</p>

<h3>Feedback</h3>

<p>Users may provide the Company with information and feedback regarding the features and performance of the Service, including reports of failures, errors, or other malfunctions you encounter on the Service along with any associated error messages (the “Feedback”). Feedback provided to the Company may be used by the Company to improve the Service, and accordingly, you hereby grant the Company a non-exclusive, perpetual, irrevocable, royalty free, worldwide right and license to use, reproduce, disclose, sublicense, distribute, modify and otherwise exploit such Feedback without restriction.</p>

<h3>Privacy</h3>

<p>Our Privacy Policy is hereby incorporated into these Terms by reference. Please read the Privacy Policy carefully for information and notices concerning our collection, use, and disclosure of certain information we receive when you register for, use, or access the Service. You hereby agree to abide by our Privacy Policy and to stay informed of any changes to the posted policy.</p>

<p>If you are a landlord requesting a credit report or a background check report from a prospective tenant, you certify that you are making such request, and will use such report, for the purpose of your own evaluation of the prospective tenant in connection with that tenant’s rental application and for no other purpose. If you are a tenant ordering a credit report or background check report, you certify that you are ordering such report, and will use such report, for the purpose of furnishing the report to a prospective landlord in connection with your rental application and for no other purpose. You agree not to share any credit report or background check report obtained through the Company with anyone other than as allowed using the service.</p>

<p>When a landlord requests a credit report and/or a background check report from prospective tenants using the service we will give the prospective tenant the option to order a single-use copy of his or her credit report and/or background check report and to share it with the requesting landlord. To provide this portion of the Service, we may ask for your Social Security Number and other personally identifying information (such as information about other creditors you have had), which we will share with our third-party credit reporting agency for the purposes of preparing and sharing reports and verifying your identity, and which we will not store (except than on a temporary basis) or use for any other purpose.</p>

<p>Each User acknowledges and agrees that SamePage is not a credit bureau and does not control the contents of credit reports, background checks and other products for screening including reports obtained through the Service. We are NOT responsible for the contents of any credit report or background check report or any credit score, whether correct or incorrect. Credit reports and background check reports can contain information that is incorrect, incomplete, or not up to date, and reports are not a substitute for carefully reviewing and independently verifying all information contained in a rental application and interviewing a prospective tenant. If you believe that any information contained in your credit report or background check report is inaccurate or incomplete, you have the right to dispute it. To dispute the contents of your credit report, please contact the appropriate third party vendor in which the service was purchased.</p>

<h3>Modification of Terms</h3>

<p>We may provide notices to Users by posting them on the Site or distributing them by email. All notices are effective upon posting or when sent. Additionally, we may modify the Terms of Service and/or our Privacy Policy at any time by posting the modified version on the Site or by sending you a copy by email. Please check the Terms periodically for changes. By continuing to access or use the Service after we have posted or distributing any such modifications, Users agree to be bound by the modified Terms of Service or Privacy Policy, as applicable.</p>

<h3>Service</h3>

<p>Users acknowledge and agree that the Company and its licensors own all rights, title, and interest in and to the Service, including all intellectual property rights therein, even if the Company or its licensors incorporate any materials provided or made available by Users into subsequent versions of the Service. Further, you acknowledge that the Service may contain information that SamePage has designated as confidential and you agree not to disclose such information without SamePage’s prior written consent.</p>

<p>Except as expressly permitted in the Terms of Service, Users may not reproduce, modify, or prepare derivative works based upon, distribute, sell, transfer, publicly display, publicly perform, transmit, or otherwise use or exploit any portion of the Service, including without limitation any information provided through the Service.</p>

<p>The content of the Service includes copyrighted materials, trademarks, trade secrets, and other proprietary information, which may include, without limitation, personal information of Users, text, software, photos, video, audio visual recordings, graphics, music and sound. The entire contents of the Service and subsets thereof are also protected by copyright as collective works. The Company owns a copyright in the selection, coordination, arrangement, and enhancement of such content, as well as in the content original to the Company. You may not create a database or other archival collection in electronic or physical form by downloading and storing, transcribing, or otherwise utilizing by any manual or automated means, any materials contained on the Service.</p>

<h3>Notification of Infringement; DMCA Policy</h3>

<p>We respect the intellectual property rights of others, and the company does not permit, condone, or tolerate the posting of any content on the Site that infringes any person’s copyright. The company will terminate, in appropriate circumstances, a User who is the source of repeat infringements of copyright.</p>

<h3>Insurance</h3>

<p>By using the Service, each Pro represents and warrants that it has current general liability insurance and workers compensation insurance with an insurance umbrella of, or in excess of, Three Million Dollars ($3,000,000). Each Pro agrees that its insurance shall be primarily liable in respect of any damages caused by such Pro.</p>

<h3>General Prohibitions</h3>

<p>Users agree not to do or attempt (or request that any third party do or attempt) any of the following during or in connection with yours (or there) use of the Service:</p>

<ul>
  <li>Circumvent or attempt to circumvent any access or use restrictions, data encryption, or content protection related to the Service;</li>
  <li>Engage in spidering, screen scraping, database scraping, harvesting of e-mail addresses, wireless addresses, content available through the Service, other contact or personal information, or any other automatic means of obtaining lists of Users or other information from or through the Service, including without limitation any information residing on any server or database connected to the Service;</li>
  <li>Copy, modify or distribute the computer code used to generate web pages on the Service (other than as may be expressly permitted under a separate license agreement);</li>
  <li>Access, tamper with, or use non-public areas of the Service, our computer systems, or the technical delivery systems of our providers;</li>
  <li>Probe, scan or test the vulnerability of any system or network or breach any security or authentication measures;</li>
  <li>Access or search the Service with any engine, software, tool, agent, device or mechanism other than the software and/or search agents provided by the Company or other generally available third party web browsers;</li>
  <li>Send unsolicited email, bulk email, junk mail, spam or chain letters, or promotions or advertisements for products or services, including without limitation those which are designed to promote, directly or indirectly, a product or service with which you have a business relationship or other commercial connection;</li>
  <li>In any way use the Service to send altered, deceptive or false source-identifying information;</li>
  <li>Decipher, decompile, disassemble or reverse engineer any of the software used to provide the Service;</li>
  <li>Interfere with, or attempt to interfere with, the access of any User, host or network, including, without limitation, sending a virus, overloading, flooding, spamming or mail-bombing the Site or the Service;</li>
  <li>Impersonate or misrepresent your affiliation with, or your lack of affiliation with, any person or entity;</li>
  <li>Use the Service in violation of the Company’s or any third party’s intellectual property or other proprietary or legal rights;</li>
  <li>Use the Service in violation of any applicable law or request that a RC provides a service which would violate applicable law; or</li>
  <li>Upload, post, email, transmit or otherwise make available materials that infringe or misappropriate any patent, trademark, trade secret, copyright or other proprietary rights of any party.</li>
  <li>Use the service if you are a third-party broker (or anyone else not specifically authorized to accept and evaluate rental property applications on behalf of a property owner).</li>
  <li>Deceptively pose as a landlord or authorized property manager in order to obtain leads or other personal information about tenants may constitute a criminal offense.  </li>
</ul>

<h3>Termination of Use; Discontinuation and Modification of the Service</h3>

<p>If Users violate any of the Terms of Service, permission to use the Service will automatically terminate. Users also agree that we may, at any time and without notice, suspend or revoke your access to and use of the Service, and any account(s) you may have in connection with the Service (a) for any reason or no reason at all, (b) where we determine in our sole discretion that such action is reasonable in order to comply with legal requirements or to protect the rights or interests of the Company or any third party, (c) or in connection with any general discontinuation of the Service. Accounts terminated by SamePage for any type of abuse including, without limitation, a violation of these Terms, may not be reactivated for any reason. We also reserve the right to modify the Service at any time without notice to Users. We will have no liability whatsoever on account of any change to the Service or any suspension or revocation of your access to or use of the Service.</p>

<p>Users may terminate this Agreement, and your account, at any time by contacting customer service at
CONTACT@SamePageco.app. Once you cancel your account, your personal information will no longer be viewable by other Users. However, content previously shared with other Users may remain viewable by those Users until they delete such content.</p>

<h3>Referral</h3>

<p>The Company will consider a direct contact when a Pro on the SamePage platform gets hired directly by the landlord or tenant without utilizing the SamePage platform. The Company will charge a fee of Five Hundred Dollars ($500) for any direct contact which the customer with this agreement agrees to pay immediately after employment of the Pro regardless if the service was used once or on a regular basis. The referral fee is charged to cover the recruitment and checks cost that the Company incurs when it decides to on-board a new contractor on to the SamePage platform.</p>

<h3>Limitation of Liability</h3>

<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, SamePage AND ITS AFFILIATES, LICENSORS AND BUSINESS PARTNERS (COLLECTIVELY, THE “RELATED PARTIES”) SHALL NOT BE LIABLE TO YOU UNDER ANY CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY FOR: (a) ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES, INCLUDING LOSS OF PROFITS, USE, DATA OR GOODWILL, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE SERVICE (INCLUDING, BUT NOT LIMITED TO, YOUR RELIANCE UPON REVIEWS AND OPINIONS APPEARING ON THIS WEBSITE), EVEN IF SamePage OR THE RELATED PARTIES HAVE BEEN ADVISED OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES OR DAMAGES; (b) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS, SERVICES OR TECHNOLOGY; OR (c) THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE ANY MATERIALS, INFORMATION OR DATA MAINTAINED BY OR THROUGH YOUR USE OF THE SERVICE.</p>

<p>THE PROS AND OTHER THIRD-PARTY SUPPLIERS PROVIDING PRODUCTS OR SERVICES LISTED ON THE SITE ARE INDEPENDENT CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF SamePage. SamePage IS NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES, NEGLIGENCE OR MISCONDUCT OF ANY PRO OR OTHER USER OR FOR ANY PERSONAL INJURIES, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM OR OTHERWISE ARISING FROM YOUR BOOKING OF A JOB OR USE OF THE SERVICE. SamePage HAS NO LIABILITY AND WILL MAKE NO REFUND IN THE EVENT OF ANY FORCE MAJEURE OR OTHER CAUSES BEYOND OUR DIRECT CONTROL, AND WE HAVE NO RESPONSIBILITY FOR ANY ADDITIONAL EXPENSE, OMISSIONS, DELAYS, OR ACTS OF ANY GOVERNMENT OR AUTHORITY.</p>

<p>WITHOUT LIMITING THE FOREGOING, IN NO CASE SHALL THE LIABILITY OF SamePage OR ANY OF THE RELATED PARTIES EXCEED THE GREATER OF (a) THE TRANSACTION FEES PAID TO SamePage IN RESPECT OF THE TRANSACTION(S) GIVING RISE TO THE CLAIM OR (b) ONE HUNDRED DOLLARS ($100).</p>

<p>Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, the liability of SamePage and the Related Parties shall be limited to the fullest extent permitted by law.</p>

<h3>Indemnity</h3>

<p>Users agree that they will be personally responsible for their use of the Service, and agree to defend, indemnify and hold harmless the Company and its officers, directors, employees, consultants, affiliates, subsidiaries and agents from and against any and all claims, liabilities, damages, losses and expenses, including reasonable attorneys’ and accounting fees and costs, arising out of or in any way connected with access to, use of or alleged use of the Service; violation of these Terms of Service or any representation, warranty, or agreements referenced herein; violation of any third-party right, including without limitation any intellectual property right, publicity, confidentiality, property or privacy right; any claim or allegation of a third party that the Company has referred to you, to the extent based on any actual or alleged act or omission on your part or behalf, or any other claim or allegation arising as a result of such referral; and any disputes or issues between Users or third parties. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and in such case, agree to cooperate with our defense of such claim. Users will not, in any event, settle any claim or matter without our written consent.</p>

<h3>Disclaimer of Warranties</h3>

<p>USERS EXPRESSLY UNDERSTAND AND AGREE THAT USE OF THE SERVICE IS AT USER’S SOLE RISK AND THAT THE SERVICE IS PROVIDED “AS IS” AND “AS AVAILABLE” WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED. THE COMPANY EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS INCLUDING, WITHOUT LIMITATION, WARRANTIES AND CONDITIONS OF SATISFACTORY QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, AND THOSE ARISING FROM COURSE OF DEALING OR USAGE OF TRADE TO THE MAXIMUM EXTENT PERMITTED BY LAW.</p>

<p>SamePage MAKES NO WARRANTY AS TO THE ACCURACY, COMPLETENESS OR RELIABILITY OF ANY MATERIALS, INFORMATION OR DATA AVAILABLE THROUGH, OR THE PERFORMANCE OF, THE SERVICE.</p>

<p>THE INCLUSION OR OFFERING OF ANY PRODUCTS OR SERVICES ON THIS WEBSITE DOES NOT CONSTITUTE ANY ENDORSEMENT OR RECOMMENDATION OF SUCH PRODUCTS OR SERVICES BY SamePage. WHILE THE COMPANY TAKES COMMERCIALLY REASONABLE EFFORTS TO PERFORM BACKGROUND CHECKS AND OTHERWISE VET EACH PRO, THE COMPANY MAKES NO REPRESENTATION OR WARRANTY REGARDING THE QUALITY, RELIABILITY, SAFETY, COMPLETENESS, FITNESS, OR NATURE OF ANY SERVICES PROVIDED BY A PRO.</p>

<p>SamePage DOES NOT REPRESENT OR WARRANT THAT (a) YOU WILL BE ABLE TO ACCESS OR USE THE SERVICE AT THE TIMES OR LOCATIONS OF YOUR CHOOSING; (b) THAT OPERATION OF THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (c) YOUR USE OF THE SERVICE WILL MEET YOUR REQUIREMENTS; (d) DEFECTS IN THE OPERATION OF THE SERVICE WILL BE CORRECTED; OR (e) THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>

<p>YOU ACKNOWLEDGE AND AGREE THAT ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS AT YOUR OWN RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER, MOBILE PHONE OR OTHER DEVICE OR ANY LOSS OF DATA RESULTING FROM DOWNLOADING OR OBTAINING SUCH MATERIAL.</p>

<p>Because some states or jurisdictions do not allow the disclaimer of implied warranties, the foregoing disclaimers may not apply to you.</p>

<h3>Landlord and Tenant Relationship</h3>

<p>Each landlord represents and warrants that it is in compliance with all federal and state laws with respect to (a) its decision to accept or deny a tenant for a particular rental property and (b) postings and other rental property information. Each landlord further represents and warrants that all information provided via the Service, including, without limitation, the rental property information, is true and accurate and does not violate any federal, state, local or international law or regulation.</p>

<p>Each tenant represents and warrants that all information provided via the Service, including, without limitation tenant application information and background check information, is true and accurate and does not violate any federal, state, local or international law or regulation. Users acknowledge that the company does not verify the identity or accuracy of any User information provided via the Service nor does the company warrant the accuracy, completeness or usefulness of any of the information provided via the Service.</p>

<p>For the avoidance of doubt, any disputes between a landlord and tenant with respect to damages to a rental property or security deposits shall be resolved outside of the Service. The company does not have control of, or assume any liability for actions of Users on the Service, including, but not limited to the use of a rental property or the assessment of damages to a rental property. The Company does not guarantee security deposits.</p>

<h3>Events Beyond Our Control</h3>

<p>We shall have no liability to landlords or tenants for any failure of a Pro to perform the Jobs ordered, or any delay in doing so that may be caused by an event or circumstance beyond our reasonable control including, without limitation, failure of a Pro to perform, strikes, lockouts and other industrial disputes, breakdown of systems or network access, flood, fire, explosion, acts of terrorism or accident.</p>

<h3>Children</h3>

<p>The Service is not directed toward children under 13 years of age, and SamePage does not knowingly collect information from children under 13 or allow them to create an account or access account features. If you are under 13, please do not submit any personal information about yourself to SamePage.</p>

<h3>Payment Information</h3>

<p>When landlords book a Job, we collect certain personal and transactional information (e.g., name, address, email address, credit/debit card details). For details on how we use this information, please read our PRIVACY POLICY</p>

<p>SamePage uses Stripe to execute online payment transactions, which transactions are subject to the Stripe Connected Account Agreement ( HTTPS://STRIPE.COM/US/CONNECT-ACCOUNT/LEGAL ), which includes the Stripe Services Agreement ( HTTPS://STRIPE.COM/US/LEGAL ) (collectively, the “ Stripe Terms ”). By using the Service to receive payment via Stripe, each landlord agrees to be bound by the Stripe Terms, which may be modified from time to time. As a condition of SamePage enabling payment processing services through Stripe, each landlord authorizes SamePage to obtain all necessary access and perform all necessary activity on such landlord’s Stripe Connected Account to facilitate such landlord’s relationship with SamePage and use of the Service. Each landlord further agrees to provide accurate and complete information about its and authorizes SamePage to share it and transaction information with Stripe for the purposes of facilitating of the payment processing services provided by Stripe</p>

<p>For the avoidance of doubt, if any payment landlords or tenants initiate using the Service does not successfully complete, the company reserves the right to seek payment from you via or outside the Service. Any authorization you provide to make repeating automatic payments will remain in effect until cancelled.</p>

<h3>Entire Agreement</h3>

<p>These Terms and Conditions, together with the Privacy Policy, constitutes the entire agreement between you and SamePage with respect to the Service and supersedes any and all prior agreements between you and SamePage relating to the Service.</p>

<h3>Governing Law and Jurisdiction</h3>

<p>These Terms of Service shall be governed by and construed and enforced in accordance with the laws of the State of Illinois, without regard to conflict of laws principles. Except as otherwise provided in the section below entitled “Binding Arbitration”, the state and federal courts located in Cook County, Illinois will have exclusive jurisdiction of all disputes arising out of or related to these Terms of Use or your use of the Service and agree to submit to the personal jurisdiction and venue of these courts. Notwithstanding the foregoing, SamePage shall be allowed to apply for equitable remedies (including injunctions) in any jurisdiction.</p>

<h3>Binding Arbitration</h3>

<p>You and SamePage agree that, except as provided below, all disputes, controversies and claims related to these Terms of Service (each a “Claim”), shall be finally and exclusively resolved by binding arbitration, which may be initiated by either party by sending a written notice requesting arbitration to the other party. Any election to arbitrate by one party shall be final and binding on the other. The arbitration will be conducted under the Streamlined Arbitration Rules and Procedures of JAMS that are in effect at the time the arbitration is initiated (the “JAMS Rules”) and under the terms set forth in these Terms. In the event of a conflict between the terms set forth in this section and the JAMS Rules, the terms in this section will control and prevail.</p>

<p>Except as otherwise set forth in this section, you may seek any remedies available to you under federal, state or local laws in an arbitration action. As part of the arbitration, both you and SamePage will have the opportunity for discovery of non-privileged information that is relevant to the Claim. The arbitrator will provide a written statement of the arbitrator’s decision regarding the Claim, the award given and the arbitrator’s findings and conclusions on which the arbitrator’s decision is based. The determination of whether a Claim is subject to arbitration shall be governed by the Federal Arbitration Act and determined by a court rather than an arbitrator. Except as otherwise provided in these Terms, (a) you and SamePage may litigate in court to compel arbitration, stay proceedings pending arbitration, or confirm, modify, vacate or enter judgment on the award entered by the arbitrator; and (b) the arbitrator’s decision shall be final, binding on all parties and enforceable in any court that has jurisdiction, provided that any award may be challenged if the arbitrator fails to follow applicable law.</p>

<p>The arbitration will take place in Cook County, Illinois, unless the parties agree to video, phone or internet connection appearances.</p>

<p>You and SamePage agree that any arbitration shall be limited to the Claim between SamePage and you individually. YOU AND SamePage AGREE THAT (a) THERE IS NO RIGHT OR AUTHORITY FOR ANY DISPUTE TO BE ARBITRATED ON A CLASS-ACTION BASIS OR TO UTILIZE CLASS ACTION PROCEDURES; (b) THERE IS NO RIGHT OR AUTHORITY FOR ANY DISPUTE TO BE BROUGHT IN A PURPORTED REPRESENTATIVE CAPACITY OR AS A PRIVATE ATTORNEY GENERAL; AND (c) NO ARBITRATION SHALL BE JOINED WITH ANY OTHER ARBITRATION.</p>

<p>You and SamePage agree that the following Claims are not subject to the above provisions concerning negotiations and binding arbitration: (a) any Claim seeking to enforce or protect, or concerning the validity of, any of SamePage’s intellectual property rights; (b) any Claim related to, or arising from, allegations of theft, piracy, invasion of privacy or unauthorized use; and (c) any claim for equitable relief. In addition to the foregoing, either party may assert an individual action in small claims court for Claims that are within the scope of such court’s jurisdiction in lieu of arbitration.</p>

<p>If you initiate arbitration for a Claim, you will need to pay the JAMS arbitration initiation fee. If we are initiating arbitration for a Claim, we will pay all costs charged by JAMS for initiating the arbitration. All other fees and costs of the arbitration will be charged pursuant to the JAMS Rules.</p>

<p>You and SamePage agree that if any portion of this section is found illegal or unenforceable, that portion shall be severed and the remainder of the section shall be given full force and effect.</p>

<h3>Contact Information</h3>

<p>If you have any questions regarding the Terms of Service or the Service, please contact us at CONTACT@SamePageco.app</p>

<h3>General</h3>

<p>These Terms may only be revised in a writing signed by SamePage, or published by SamePage on the Site. You agree that no joint venture, partnership, employment, or agency relationship exists between you and SamePage as a result of these Terms or your use of the Service. Users may not assign or transfer the Terms of Service or its rights hereunder, in whole or in part, by operation of law or otherwise, without our prior written consent. We may assign the Terms of Service at any time without notice. The failure to require performance of any provision shall not affect our right to require performance at any time thereafter, nor shall a waiver of any breach or default of the Terms of Service constitute a waiver of any subsequent breach or default or a waiver of the provision itself. Use of paragraph headers in the Terms is for convenience only and shall not have any impact on the interpretation of particular provisions. In the event that any part of the Terms of Service is held to be invalid or unenforceable, the unenforceable part shall be given effect to the greatest extent possible and the remaining parts will remain in full force and effect. In the event any litigation or arbitration is brought by either party in connection with these Terms, except as otherwise provided herein, the prevailing party shall be entitled to recover from the other party all the reasonable costs, attorneys’ fees and other expenses incurred by such prevailing party in the litigation.</p>
