<h2>To successfully award the bid, please authorize payment for the job below.</h2>
<h4>Please note the charge will not be captured until the work is completed and you have approved of the work.</h4>
