@import "bootstrap-sprockets";
@import "bootstrap";

.body {
  color: #004279;
  font-family: 'Questrial', ;
}

*{font-family:'Questrial';}

.mr_image {
  max-width: 30%;
  height: auto;
}

.title-container {
  display: flex;
  justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      margin: 0;
      color: #004279;
      font-family: 'Questrial', ;
    }
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Questrial', ;
}

.property {
  width: 30%;
  min-width: 300px;
  font-family: 'Questrial', ;
}

.tenants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Questrial', ;
}

.tenant {
  width: 30%;
  min-width: 300px;
  font-family: 'Questrial', ;
}

.requests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Questrial', ;
}

.request {
  width: 30%;
  min-width: 300px;
  font-family: 'Questrial', ;
}

.bids {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Questrial', ;
}

.bid {
  width: 30%;
  min-width: 300px;
  font-family: 'Questrial', ;
}

.contractors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Questrial', ;
}

.contractor {
  width: 30%;
  min-width: 300px;
  font-family: 'Questrial', ;
}

.form-control {
  max-width: 300px;
}

.btn {
  background-color: #004279;
  color: white;
  font-family: 'Questrial', ;
}

.signup {
  background-color: white;
  color: #004279;
  font-weight: bold;
  font-family: 'Questrial', ;
}

/* The hero image */
.jumbotron {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hero_image.jpg');
  /* Set a specific height */
  min-height: 600px;

  /* Position and center the image to scale nicely on all screens */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #004279;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  color: white;
  font-family: 'Questrial', ;
}

.footer {
  background-color: #cccccc;
  padding: 10px;
}

.container {
  width: 100%;
  padding: 10;
}

.navbar {
  margin-bottom: 0px;
}

.nav .btn {
  margin-top: 25px;
  margin-right: 16px;
}
