@import "bootstrap-sprockets";
@import "bootstrap";

.title-container {
  display: flex;
  justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      margin: 0;
    }
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.property {
  width: 30%;
  min-width: 300px;
}

.tenants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tenant {
  width: 30%;
  min-width: 300px;
}

.requests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.request {
  width: 30%;
  min-width: 300px;
}

.contractors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contractor {
  width: 30%;
  min-width: 300px;
}
